email=devopstrainingblr@gmail.com
always-auth=true
//registry.npmjs.org/:_auth=YWRtaW46ZGV2b3Bz
allowRepublish=true
//54.147.172.134:9980/mithuntech/repository/nodejs-repo/:_authToken=YWRtaW46ZGV2b3Bz
